.small{
  width: 80px !important;
}
.buttons {
  margin-right: 1vh;
}
.cancel-button{
  background-color: indianred;
  color: white;
}
.add-dep-button {
  background-color: mediumseagreen;
  color: white;
}
